<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="shared/head :: head (pageTitle='GTA V : what city topup')">

</head>
<body>
<div th:replace="shared/header :: header"></div>
<p>Deep Dark Fantasy</p>
<div th:replace="shared/footer :: footer"></div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.marquee.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
