<footer xmlns:th="http://www.thymeleaf.org"
        th:fragment="footer">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>

  <section class="footer-top-section">
    <div class="effect">
      <div class="buttons">
        <a href="https://www.facebook.com/whatcityfivem" target="_blank" class="fb"
           title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.twitch.tv/whatcityth" target="_blank" class="tw"
           title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UChf7iqxhdknQDt3S0FEzhbw" target="_blank"
           class="youtube" title="Join us on Dribbble"><i class="fa fa-youtube"
                                                          aria-hidden="true"></i></a>
        <!--   <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
           <a href="#" class="vimeo" title="Join us on Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
           <a href="#" class="pinterest" title="Join us on Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
           <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
           <a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
      </div>
    </div>
  </section>


  <!-- <footer class="footer-section">
    <div class="container">
      <p class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> | WhatCity
      </p>
    </div>
  </footer> -->
  <!-- </body>
</footer> -->
